#calculator {
    margin-left: 28%;
    width: 600px;
    border: 10px rgb(190, 184, 184);
    border-style: outset;
    background-color: black;
}

#screen-mode {
    text-align: center;
    font-family: 'Courier New';
    font-size: 30px;
}

#screen-mode b {
    font-size: 50px;
}

select {
    vertical-align: middle;
}


#screen {
    margin-top: 20px;
    margin: 5px;
    width: 98%;
    border: 1px inset white;

}

#result {
    border: 1px inset white;
    width: 85%;
    height: 50px;
    margin: 3px;
    font-family: 'Courier New';
    font-size: 30px;
    background-color: blueviolet;
    color: white;
}

#keyboard {
    margin: 0 auto;
    width: 98%;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px inset white;
    margin-bottom: 3px;
}

button {
    margin: 10px;
    border-radius: 10px;
    font-family: 'Courier New';
    font-size: 30px;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.25));
    background-color: rgb(182, 178, 178);
    border: 2px outset white;
}

body {
    background-color: rgb(206, 201, 201);
}