#calculator {
    margin-left: 28%;
    width: 600px;
    border: 10px rgb(212, 205, 205);
    border-style: outset;
}

h1 {
    text-align: center;
    font-family: 'Courier New';
    font-size: 60px;
}

#screen {
    margin: 5px;
    width: 98%;
    border: 1px solid black;

}

#result {
    border: 1px solid black;
    width: 85%;
    height: 50px;
    margin: 3px;
    font-family: 'Courier New';
    font-size: 30px;
}

#keyboard {
    margin: 0 auto;
    width: 98%;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    margin-bottom: 3px;
}

button {
    margin: 10px;
    border-radius: 10px;
    font-family: 'Courier New';
    font-size: 30px;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.25));
}
